body {
  font-family: sans-serif;
  text-align: center;
  padding-top: 50px;
  background-color: #f0f8ff; /* 浅蓝色背景 */
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

